.section-receipe-description {
  background-color: #fdf2e9;
  padding: 6.4rem 0 3.2rem;
  max-height: 130rem;
}

.receipe-text {
  text-align: center;
}

.section-diet {
  text-align: center;
  background-color: #fdf2e9;
  padding-bottom: 3.2rem;
  z-index: 100;
  padding: 0.5em;
  display: none;
}

.diet-open .section-diet {
  display: block;
}

.diets-list {
  border: 2px solid;
  padding: 2.4rem;
  border-radius: 12px;
  background-color: #fff;
}

.section-receipe-meals {
  background-color: #fff;
}

.section-receipe-meals .heading-secondary {
  margin-top: 2.4rem;
  text-align: center;
}

.section-pagination {
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 9.6rem;
}

.btn-pagination {
  border: none;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  /* text-align: center; */
}

.btn-pagination:hover {
  background-color: #e67e22;
}

.btn-pagination:hover .btn-icon-pagination {
  stroke: #fff;
}

.btn-icon-pagination {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #e67e22;
}

.page-link-pagination:link,
.page-link-pagination:visited {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link-pagination:hover,
.page-link-pagination:active,
.page-link-pagination.page-link--current {
  background-color: #e67e22;
  color: #fff;
}

.dots {
  color: #777;
}
